.about-dir {

    height: auto;
    /* background-color: rgb(235,246,244); */
    width: 87%;
    text-align: left;
    margin-left: 80px;
    



}

.about-dir p {
    /* font-size: 15px; */
    line-height: 21px;
}


@media (max-width:767px) {
    .about-dir {

        margin-left: 25px;
        text-align: justify;

    }



}



table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid rgb(230,230,230); */
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
  }
  th{
    background-color: rgb(56,142,60);
    /* background-color: rgb(108,122,224); */
    color: white;
    /* border: 1px solid rgb(2,93,47); */
    /* border: 1px solid gray; */
    
    
    
  }

  th, td {
    
    padding: 10px;
    text-align: center;
    /* text-align: left; */




  }
  td:first-child{
    text-align: left;
  }
  td{
    /* border: 1px solid rgb(230,230,230); */

  }

  
  tr:nth-child(odd) {
    
    /* background-color: rgb(215,249,211); */
    background-color: rgb(248,246,255);
  }

  .branch{
    width: 100%;
    height: 50px;
    /* background-color: brown; */
  }
   .branch-name{
    width: 20%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
   }
   .branch-content{
    width: 25%;
    height: 39px;
    text-align: center;
   
    border-radius: 10%;
    padding-top: 5px;
    color: blue;
    

    
   }
   .branch-content:hover{
    background-color: rgb(230,230,230);
   }



   @media (max-width:767px) {
    .branch-name{
      width: 45%;
     
     }

    
   }

   .ref-book table tr th {
    text-align: left;
    padding: 5px;
   }
   .ref-book table tr td{
    text-align: left;
    padding: 5px;
   }





   .paper{
    width: 100%;
    display: flex;
    margin-top: 50px;
   }
   .paper-1{
    width: 20%;
    /* border: 1px solid red; */
    text-align: center;
   }


  